@model QuestionDetailsModel
@{
    this.ViewData["Title"] = Model.Title;
}

<div class="row main-container">
    <div class="col-md-9">
        <div class="text-left">
            <h3 class="text-lg-left text-truncate"><em>@Model.Title</em></h3>
        </div>
        <div>
            <div>
                @Html.Raw(Model.Content)
            </div>
            <br />
            <div class="card-footer text-right answer">
                <small class="text-muted">Posted on @Model.PostDate.ToLocalTime() by @Model.AuthorName</small>
                @if (Model.EditDate.HasValue)
                {
                    <small class="text-muted">, last edit: @Model.EditDate.Value.ToLocalTime()</small>
                }
            </div>
            @foreach (var tag in Model.Tags)
            {
                @Html.Partial("_Tag", tag)
            }
            <br />
            <div class="row answer">
                <div class="col-md-6 text-left">
                    <form asp-action="Vote" method="post">
                        <input type="hidden" value="@Model.Id" name="questionId" />
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            bool.TryParse(ViewData["stared"].ToString(), out bool hasStared);

                            if (hasStared)
                            {
                        <button class="btn btn-sm btn-warning" id="star" type="submit"><i class="fas fa-star fa-2x"></i></button>
                            }
                            else
                            {
                        <button class="btn btn-sm btn-outline-warning" id="star" type="submit"><i class="far fa-star fa-2x"></i></button>
                            }
                        }
                        else
                        {
                        <button class="btn btn-sm btn-outline-warning" disabled id="star" type="submit"><i class="far fa-star fa-2x"></i></button>
                        }
                        <span>Votes: @Model.Votes</span>
                    </form>
                </div>
                <div class="col-md-6 text-right">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                    <a class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#answerModal">Answer <i class="fas fa-pencil-alt"></i></a>
                    }
                    else
                    {
                    <a asp-action="Login" asp-controller="Account" asp-route-returnUrl="/questions/details/@Model.Id" class="btn btn-sm btn-outline-info">Answer <i class="fas fa-pencil-alt"></i></a>
                    }
                    @if (this.User.Identity.IsAuthenticated && (this.User.Identity.Name == Model.AuthorName || (this.User.IsInRole(GlobalConstants.AdminRoleName) || this.User.IsInRole(GlobalConstants.ModeratorRoleName))))
                    {
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-warning">Edit <i class="fas fa-edit"></i></a>
                    <a class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#myModal">Delete <i class="fas fa-trash"></i></a>
                    }
                </div>
            </div>
            <div class="row answers-table">
                <div class="col-md-12">
                    <table class="table">
                        @foreach (var answer in Model.Answers)
                        {
                            <tr>
                                <td>
                                    <div class="card">
                                        <div class="card-block">
                                            <blockquote id="answerContent" class="card-blockquote answer">
                                                @foreach(var line in answer.Content.Trim().Split( Environment.NewLine , StringSplitOptions.RemoveEmptyEntries ).ToList())
                                                {
                                                    <p>@line</p>
                                                }
                                            </blockquote>
                                        </div>
                                        <div class="card-footer text-right">
                                            @if (this.User.Identity.IsAuthenticated && (this.User.Identity.Name == answer.AuthorName || (this.User.IsInRole(GlobalConstants.AdminRoleName) || this.User.IsInRole(GlobalConstants.ModeratorRoleName))))
                                            {
                                                <a class="btn btn-sm btn-outline-warning" asp-controller="Answers" asp-action="Edit" asp-route-answerId="@answer.Id" asp-route-questionId="@Model.Id" >Edit <i class="fas fa-edit"></i></a>
                                                <form asp-controller="Answers" asp-action="Delete" style="display:inline">
                                                    <input type="hidden" name="questionId" value="@Model.Id" />
                                                    <input type="hidden" name="answerId" value="@answer.Id" />
                                                    <button type="submit" class="btn btn-sm btn-outline-danger">Delete <i class="fas fa-trash"></i></button>
                                                </form>
                                            }
                                            <small class="text-muted">Posted on @answer.PostDate.ToLocalTime() by @answer.AuthorName</small>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <h2>Similar tags</h2>
        @foreach (var tag in Model.SimilarTags)
        {
            @Html.Partial("_Tag", tag)
        }
        <br />
        <h2>Helpful materials</h2>
        <iframe src="http://www.youtube.com/embed?autoplay=0&listType=search;list=@(this.ViewData["youtubeKeyword"])" frameborder="0" class="col-md-12"></iframe>
    </div>

</div>
<input id="itemId" type="hidden" value="@Model.Id"></input>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete this question ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Model.Title
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel <i class="fas fa-chevron-circle-left"></i></button>
                <form asp-action="Delete" method="post">
                    <input name="id" type="hidden" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger">Delete <i class="fas fa-trash"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Answer this question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="New" asp-controller="Answers" method="post" id="answerForm">
                <div class="modal-body">
                    <input type="hidden" name="questionId" value="@Model.Id" />
                    <textarea rows="8" id="answerText" name="content" class="form-control" maxlength="300" minlength="2"></textarea>
                    <span id="answerTextWarning" class="text-danger">Content is a required field with length from 2 to 300 characters.</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel <i class="fas fa-chevron-circle-left"></i></button>
                    <button type="submit" id="submitAnswer" class="btn btn-outline-info">Submit <i class="fas fa-save"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_QuestionDetailsScripts")
}